.fm-table-name {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;       /* обрізаємо все, що не вміщається */
    white-space: nowrap;    /* не переносимо текст на новий рядок */
    text-overflow: ellipsis; /* ставимо ... */
}



.fm-table-name span {
    display: inline-block;
    max-width: calc(100% - 20px); /* залишаємо місце для іконки */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.fm-table-name i {
    flex-shrink: 0;
    margin-right: 6px;
}

.fm-tree-item {
    cursor: pointer;
}

.fm-sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.fm-sidebar.show {
    display: block;
}

@media (max-width: 768px) {
    .fm-sidebar {
        position: absolute;
        background: #fff;
        z-index: 10;
        height: 100%;
        left: -260px;
        transition: left 0.2s;
    }
    .fm-sidebar.show {
        left: 0;
    }
}

